.off_canvas {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: nowrap;
  flex-flow: nowrap;
  height: 100%;
  position: relative;
  width: 100%;
}
.sidebar_header {
  padding: 35px;
  border-bottom: 1px solid #f5f5f5;
}
.sidebar_header_title {
  font-size: 21px;
  font-weight: 700;
  font-family: Boing, Graphik, sans-serif;
  color: #57584e;
}
.sidebar_header_breadcrumbs {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  margin-top: 10px;
}
.sidebar_header_breadcrumb_container {
  margin-right: 15px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.sidebar_header_breadcrumb {
  font-size: 14px;
  font-weight: 500;
  color: #919191;
}
.sidebar_header_breadcrumb.active {
  color: #57584e;
  font-weight: 600;
}
.sidebar_container_inner {
  padding: 30px 35px;
}
.flex {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.flex_justify_space_between {
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.flex_direction_column {
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
.p_t_10 {
  padding-top: 10px;
}
.button {
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  min-height: 50px;
  border-radius: 5px;
  outline: none;
  background: #fafafa;
  color: #57584e;
  -webkit-appearance: button;
}
.btn_cta {
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  /* background: #03659b; */
}
.btn_cta:hover {
  /* background: #03659b; */
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.m_t_10 {
  margin-top: 10px;
}
.w_100 {
  width: 100% !important;
}
.form_checkbox {
  display: block;
  line-height: 1.2rem;
  margin: 0.2rem 0;
  min-height: 1.4rem;
  padding: 0.1rem 0.4rem 0.1rem 1.2rem;
  position: relative;
}
.checkbox_group {
  color: #57584e;
  font-size: 14px;
  font-weight: 500;
}
.form_checkbox input {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.form_icon {
  background: #fff;
  height: 0.8rem;
  left: 0;
  top: 0.3rem;
  width: 0.8rem;
  border-radius: 0.1rem;
  border: 0.05rem solid #bcc3ce;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  -webkit-transition: background 0.2s, border 0.2s, color 0.2s,
    -webkit-box-shadow 0.2s;
  transition: background 0.2s, border 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s,
    -webkit-box-shadow 0.2s;
}
.form_icon_active {
  background: #4576c2;
  height: 0.8rem;
  left: 0;
  top: 0.3rem;
  width: 0.8rem;
  border-radius: 0.1rem;
  border: 0.05rem solid #bcc3ce;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  -webkit-transition: background 0.2s, border 0.2s, color 0.2s,
    -webkit-box-shadow 0.2s;
  transition: background 0.2s, border 0.2s, color 0.2s, -webkit-box-shadow 0.2s;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
  transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s,
    -webkit-box-shadow 0.2s;
}
.form_icon_active::before {
  background-clip: padding-box;
  border-color: #fff;
  border-style: solid;
  border-width: 0 0.1rem 0.1rem 0;
  content: "";
  height: 9px;
  left: 50%;
  margin-left: -3px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 6px;
}
.label {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: transparent;
  color: #57584e;
  margin-bottom: 10px;
}
.input_group {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  justify-content: flex-start;
  width: 100%;
}
.m_r_5 {
  margin-right: 5px;
}
.m_l_5 {
  margin-left: 5px;
}
.m_b_10 {
  margin-bottom: 10px;
}
.h_34 {
  height: 34px;
}
.form_control {
  margin-bottom: 30px;
}
.input {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 36px;
  width: 100%;
  background: #fff;
  outline: none;
  border: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 6px;
  color: #57584e;
  padding: 8px 10px;
  font-size: 14px;
}
.sidebar_footer {
  border-top: 1px solid #f5f5f5;
}
.bag_summary {
  color: #57584e;
  position: relative;
}
.bag_summary_header {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding: 35px;
  border-bottom: 1px dashed #e7e7e7;
}
.bag_summary_header_left {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.bag_summary_header_right {
  text-align: right;
}
.bagIcon {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  align-items: flex-end;
}
.sidebar_header_icon {
  margin-left: 5px;
  margin-bottom: 1px;
}
.cart_total {
  margin-left: 8px;
  font-weight: 500;
}
.bag_summary_price_text {
  color: #57584e;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 15px;
}
.bag_summary_shipping_price_text {
  color: #919191;
  font-weight: 500;
  margin-bottom: 0;
  font-size: 15px;
}
.pfm_payForm {
  padding: 0 30px;
}
.pfm_payForm_divider {
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
.divider_dashed {
  border-top: 1px dashed #c1c1c1;
  -webkit-flex: 1 1;
  -moz-box-flex: 1;
  flex: 1 1;
}
.pfm_payForm_divider p {
  margin: 0 20px;
  color: #909090;
  font-size: 12px;
}
.button_cta {
  color: #03659b;
  margin-top: 30px;
  border-radius: 5px;
  padding: 10px 20px;
}
.button:hover {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: transparent none repeat 0 0 / auto auto padding-box border-box
    scroll;
  background: initial;
  opacity: 0.8;
}
.error_text {
  font-size: 13px;
  color: #ac2625;
  font-weight: 400;
  margin: 5px;
}
